<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%- partial('_global/head') %>
</head>
<body class="dark">
	<div id='Leslie'>
		<%- partial('svg/header') %>
		<div id="container" class="wrap">
			<%- body%>
		</div>
		<%- partial('_global/footer') %>
		<div class="script">
			<%- partial('_partial/pjax') %>
		</div>
	</div>
</body>
</html>